* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: hsl(235, 21%, 11%);

  .wrapper {
    background-image: url('./images/bg-desktop-dark.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
}
